about-time==4.2.1
accelerate==0.34.2
aiofiles==23.2.1
aiohappyeyeballs==2.4.0
aiohttp==3.10.6
aiosignal==1.3.1
alive-progress==3.1.5
altair==6.0.0
annotated-types==0.7.0
anyio==4.6.0
apturl==0.5.2
async-timeout==4.0.3
attrs==24.2.0
auto_gptq==0.7.1
autograd==1.7.0
Babel==2.8.0
beautifulsoup4==4.10.0
bitsandbytes==0.44.1
blinker==1.9.0
Brlapi==0.8.3
cachetools==6.2.4
certifi==2025.10.5
chardet==4.0.0
charset-normalizer==3.3.2
cliapp==1.20180812.1
click==8.0.3
cma==3.2.2
cmake==3.31.6
cmdtest==0.32+git
colorama==0.4.4
coloredlogs==15.0.1
command-not-found==0.3
configobj==5.0.6
contourpy==1.3.0
cryptography==3.4.8
cupshelpers==1.0
cycler==0.12.1
datasets==3.0.0
dbus-python==1.2.18
defer==1.0.6
Deprecated==1.2.14
diffusers @ git+https://github.com/initml/diffusers.git@53dcfcf3f3009a79fd484eed9b09ea76189da434
dill==0.3.8
distro==1.7.0
distro-info==1.1+ubuntu0.2
einops==0.8.0
exceptiongroup==1.2.2
fastapi==0.115.0
ffmpy==0.4.0
filelock==3.16.1
Flask==2.0.1
fonttools==4.54.1
frozenlist==1.4.1
fsspec==2024.6.1
gekko==1.2.1
gitdb==4.0.12
GitPython==3.1.45
gradio==4.44.0
gradio_client==1.3.0
grapheme==0.6.0
graphviz==0.21
gunicorn==20.1.0
h11==0.14.0
html5lib==1.1
httpcore==1.0.5
httplib2==0.20.2
httpx==0.27.2
huggingface-hub==0.25.1
humanfriendly==10.0
idna==3.3
importlib-metadata==4.6.4
importlib_resources==6.4.5
ipython_genutils==0.2.0
itsdangerous==2.1.0
jeepney==0.7.1
Jinja2==3.1.4
joblib==1.4.2
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
jstyleson==0.0.2
jupyter-core==4.9.1
keyring==23.5.0
kiwisolver==1.4.7
language-selector==0.1
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
lit==18.1.8
louis==3.20.0
lxml==4.8.0
macaroonbakery==1.3.1
Markdown==3.3.6
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.9.2
mdurl==0.1.2
more-itertools==8.10.0
mpmath==1.3.0
multidict==6.1.0
multiprocess==0.70.16
narwhals==2.14.0
natsort==8.4.0
netifaces==0.11.0
networkx==3.3
ninja==1.11.1.1
nncf @ git+https://github.com/openvinotoolkit/nncf.git@726309689d741811c34e23985d8907336ab90658
numpy==1.26.4
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu12==9.1.0.70
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu12==12.1.0.106
nvidia-nccl-cu12==2.20.5
nvidia-nvjitlink-cu12==12.6.77
nvidia-nvtx-cu12==12.1.105
oauthlib==3.2.0
olefile==0.46
omz_tools @ git+https://github.com/openvinotoolkit/open_model_zoo.git#subdirectory=tools/model_tools
onnx==1.17.0
opencv-python==4.10.0.84
openvino-genai==2024.4.0.0
openvino-telemetry==2024.1.0
openvino-tokenizers==2024.4.0.0
optimum==1.23.1
optimum-intel @ git+https://github.com/huggingface/optimum-intel.git@03a59aa5685d60d49b4aa891bca11823eb84e92e
orjson==3.10.7
packaging==24.1
pandas==2.2.3
peft==0.12.0
pexpect==4.8.0
Pillow==9.0.1
protobuf==5.28.2
psutil==6.0.0
ptyprocess==0.7.0
pyarrow==17.0.0
pybind11==3.0.0
pycairo==1.20.1
pycups==2.0.1
pydantic==2.9.2
pydantic_core==2.23.4
pydeck==0.9.1
pydot==2.0.0
pydub==0.25.1
pyenchant==3.2.0
Pygments==2.18.0
PyGObject==3.42.1
pygraphviz==1.14
pyinotify==0.9.6
PyJWT==2.3.0
pymacaroons==0.13.0
pymoo==0.6.1.3
PyNaCl==1.5.0
pyOpenSSL==21.0.0
pyparsing==3.1.4
pyRFC3339==1.1
python-apt==2.4.0+ubuntu4.1
python-dateutil==2.9.0.post0
python-debian==0.1.43+ubuntu1.1
python-multipart==0.0.10
pytz==2022.1
pyxdg==0.27
PyYAML==5.4.1
referencing==0.35.1
regex==2024.9.11
reportlab==3.6.8
requests==2.32.3
rich==13.8.1
rouge==1.0.1
rpds-py==0.20.0
ruff==0.6.7
safetensors==0.4.5
scikit-learn==1.5.2
scipy==1.14.1
SCons==4.0.1
SecretStorage==3.3.1
semantic-version==2.10.0
sentencepiece==0.2.0
shellingham==1.5.4
simplejson==3.17.6
six==1.16.0
smmap==5.0.2
sniffio==1.3.1
soupsieve==2.3.1
ssh-import-id==5.11
starlette==0.38.6
streamlit==1.52.2
sympy==1.13.3
systemd-python==234
tabulate==0.9.0
tenacity==9.1.2
terminator==2.1.1
threadpoolctl==3.5.0
tiktoken==0.8.0
timm==1.0.9
tokenizers==0.19.1
toml==0.10.2
tomlkit==0.12.0
torch==2.4.1+cpu
torchvision==0.19.1+cpu
tornado==6.5.4
tqdm==4.66.5
traitlets==5.1.1
transformers==4.44.2
transformers-stream-generator==0.0.5
ttystatus==0.38
typer==0.12.5
typing_extensions==4.12.2
tzdata==2024.2
ubuntu-drivers-common==0.0.0
ubuntu-pro-client==8001
ufw==0.36.1
unattended-upgrades==0.1
urllib3==2.2.3
uvicorn==0.30.6
wadllib==1.3.6
watchdog==6.0.0
webencodings==0.5.1
websockets==12.0
Werkzeug==2.0.2
wrapt==1.16.0
xdg==5
xkit==0.0.0
xxhash==3.5.0
yarl==1.12.1
zipp==1.0.0
